@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Libre+Baskerville:ital@1&family=Lobster&family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;400&family=Nanum+Gothic&family=Preahvihear&family=REM&family=Roboto+Slab&family=Rubik&family=Tektur:wght@600&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0px;
}

.body {
    background-color: rgb(179, 0, 224);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 800px;
    height: 500px;
    background-color: rgb(60, 255, 0);
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 15px 1px rgb(52, 52, 52);
}

.logo {
    width: 300px;
    height: 500px;
    background-color: black;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo h1 {
    font-size: 50px;
    color: rgb(60, 255, 0);
    font-family: 'Tektur', cursive;
    margin-top: 50px;
}

#esports {
    margin-bottom: 100px;
    margin-top: 0px;
}

.logo p {
    color: rgb(79, 92, 93);
    font-size: 14px;
    font-family: 'Nanum Gothic',sans-serif;
}

.signin_tag {
    color: rgb(255, 0, 51);
    text-decoration: none;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 20px;
    /* font-size: 15px; */
    font-family: 'Nanum Gothic',sans-serif;
}

.connects {
    display: flex;
    flex-direction: row;
    margin-bottom: 30px;
}

.connects img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 8px;
    opacity: 0.8;
}

.form, form {
    width: 500px;
    height: 500px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
    font-family: 'Lato', sans-serif;
}

.signin {
    margin-top: 20px;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 500;
}

label {
    font-size: 17px;
    font-family: 'Nanum Gothic',sans-serif;
    margin-right: 190px;
    margin-bottom: 8px;
    margin-top: 20px;
    font-weight: 1000;
}

pre {
    font-family: 'Nanum Gothic',sans-serif;
}

input {
    width: 240px;
    height: 27px;
    border-radius: 8px;
    border: none;
    border: 1px grey solid;   
}

.password {
    text-decoration: none;
    color: rgb(79, 92, 93);
    font-size: 10px;
    font-family: 'Nanum Gothic',sans-serif;
    margin-top: 5px;
    margin-left: 100px;
}

.terms_and_cond {
    display: flex;
    flex-direction: row;
}

.checkbox {
    width: 20px;
    height: 20px;
    margin: 15px 10px 0px 40px;
}

.terms_and_cond label {
    font-size: 13px;
    margin-right: 55px;
    margin-top: 17px;
}

.signin_button {
    width: 130px;
    height: 40px;
    border-radius: 50px;
    font-size: 20px;
    color: white;
    background-color: black;
    border: none;
    margin-top: 30px;
    margin-bottom: 25px;
}

