@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Libre+Baskerville:ital@1&family=Lobster&family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;400&family=Nanum+Gothic&family=Preahvihear&family=REM&family=Roboto+Slab&family=Rubik&family=Tektur:wght@600&family=Ubuntu:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Libre+Baskerville:ital@1&family=Lobster&family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;400&family=Nanum+Gothic&family=Preahvihear&family=REM&family=Roboto+Slab&family=Rubik&family=Ruwudu&family=Tektur:wght@600&family=Ubuntu:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Lato&family=Libre+Baskerville:ital@1&family=Lobster&family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;400&family=Nanum+Gothic&family=Oswald:wght@500&family=Preahvihear&family=REM&family=Roboto+Slab&family=Rubik&family=Ruwudu&family=Tektur:wght@600&family=Ubuntu:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,500&family=Dancing+Script&family=Lato&family=Libre+Baskerville:ital@1&family=Lobster&family=Merriweather:ital,wght@1,300&family=Montserrat:wght@300;400&family=Nanum+Gothic&family=Oswald:wght@500&family=Preahvihear&family=REM&family=Roboto+Slab&family=Rubik&family=Ruwudu&family=Tektur:wght@600&family=Ubuntu:wght@300;400&display=swap');

* {
    margin: 0px;
}

h1 {
    font-size: 30px;
    color: rgb(60, 255, 0);
    font-family: 'Tektur', cursive;
    margin: 10px 30px;
}

main {
    width: 100%;
    height: 100vh;
    background-color: rgb(179, 0, 224);
    display: flex;
    align-items: center;
    justify-content: center;
}

section {
    width: 40%;
    height: 46vh;
    background-color: rgb(10, 10, 10);
    box-shadow: 0px 0px 5px 1px rgb(37, 37, 37);
    border-radius: 5px;
    padding-top: 30px;
    padding-left: 15px;
}

section p {
    color: rgb(216, 216, 216);
    font-size: 22px;
    font-family:Arial, Helvetica, sans-serif;
    margin-top: 20px;
    margin-left: 30px;
    width: 90%;
}

section input {
    width: 200px;
    height: 35px;
    border: 1.5px solid white;
    background-color: black;
    color: rgb(60, 255, 0);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 5px;
    margin-left: 350px;
    margin-top: 100px;
}